


/* main section */
.main-section {
    padding: 100px 30px;
}

.main-section>div {
    width: 50%;
    float: left;
}

.main-section_image {
    text-align: right;

}

.main-section_welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #e36a6a;
}

.main-section_introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500px;
    margin-bottom: 20px;
    color: #5b0606;
}

.main-section_position {
    color: #4e0507;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section_social-networks a {
    color: #ae8c8c;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

.main-section_social-networks a:hover i {
    color: #4e0507;
}



.main-section_action {
    margin-top: 30px;

}

/* statistics section*/
.statistics {
    padding-top: 100px;
}

.statistics_item {
    display: inline-block;
    background-color: #fae9ec;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}

.statistics_number {
    font-size: 27px;
    margin-bottom: 5px;
    background: linear-gradient(98deg,  #e33b3b 50%, #15060f 50%,);
   
}

.statistics_title {
    font-size: 16px;
    color: #b66161;
    font-weight: 300;

}

/*about me section*/
.about-me {
    padding: 100px 0;
}

.about-me>div {
    width: 50%;
    float: left;
}

.about-me__image {
    width: 98%;
}

.about-me_d {
    font-size: 14px;
    font-weight: 300;
    color: #b07d7d;
    line-height: 27px;
}

.aboutme-a {
    margin-top: 40px;
}

/*services section styles*/
.services {
    padding-top: 100px;
}

.services_cards {
    display: inline-block;
    width: 30%;

    background-color: #fff8f8;
    margin-right: 3%;
    text-align: center;
}

.services-card_title {
    color: #400505;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.services-card_d {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #1e0202;

}

.services-card-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #620d0d;
    text-decoration: none;
}

.services-card:hover {
    background-color: #7f1014;
}

.services-card:hover .services-card_title,
.services-card:hover .services-card_d,
.services-card:hover .services-card-link {
    color: #fff;
}


.clients {
    padding-top: 100px;
}

.client-item>div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.client-item__image img {
    width: 100%;
    float: left;

}

.client-item__name {
    font-size: 20px;
    margin-bottom: 4px;

}

.client-item__info {
    padding: 50px;
    padding-left: 50px;
}


.client-item__position {
    font-size: 14px;
    font-weight: 300px;
    color: #8a0d37;
}

.client-item_review {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #681919;
}

.client-item__rate {
    color: rgb(255, 183, 0);
}

.client-item__rate .disabled {
    color: #ae8c8c;
}

/* portfolio section styles*/
.portfolio {
    padding: 100px 0;
}

.portfolio-filters{
    list-style: none ;
    padding-left: 0;
    margin-top: 50px;

}

.portfolio-filters li{
    display:inline-block ;
    margin-right: 40px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active{
    color: #4e0507;
}




.portfolio-items{
    position: relative;
    margin-top: 5%;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;  
    padding: 10px;
    box-sizing: border-box;
}

.portfolio-item-1{
    padding-left: 0 ;
}

.portfolio-item-2{
    position: absolute;
   top: 0;
    right: 0;
}

.portfolio-item-3{
    position: absolute;
   top: 322px;
    right: 0;
}

.portfolio-item__image{
    width:100% ;
}

.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(223, 83, 95, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a{
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay{
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 60px;
}

.blog-section{
    padding-top: 0px ;
}

.blog-items{
    margin-top: 50px;
}

.blog-item{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}

.blog-item:hover{
   box-shadow: 0px 10px 20px rgba(5, 54, 77, 0.1);
}

.blog-item:hover .blog-item_info{
    background-color: white;
}

.blog-item_img img{
    width: 100%;
}

.blog-item_info{
    background-color: rgb(248, 158, 158);
    padding: 30px;
    color: #160303;
}

.blog-item_main-info span{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item_info i{
    margin-right: 5px;
    
}

.blog-item_title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #130707;
    font-weight: 700;
}

.blog-item_dt{
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item_lm{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1c0404;
    text-decoration: underline;
    cursor: pointer;
}

.blog-item_lm:hover{
    color: #1f1112;
}



.partners{
    padding-top: 100px;
}

.partner{
    display: inline-block;
    padding: 0 30px;
}

